@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

body {
  font-size: 18px;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

h1, h2 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  h1, h2 {
    font-size: 1.8em;
  }

  p {
    font-size: 1em;
  }

  .slick-slider {
    max-width: 90%;
  }

  .certificate-slide,
  .experience-slide {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  h1, h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 0.9em;
  }

  .slick-slider {
    max-width: 100%;
  }
}
